.login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .login-wrapper {
    display: flex;
    width: 80%;
    max-width: 800px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  .loginimage-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .login-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .login-box {
    background-color: rgba(255, 255, 255, 0.1);
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  
  .login-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .login-input-group.left-aligned {
    width: 90%;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .login-input-label {
    display: block;
    color: white;
    margin-bottom: 8px;
    text-align: left;
  }
  
  .login-input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    text-align: left;
  }
  
  .login-input-field::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .login-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .login-button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .login-button:hover {
    background-color: black;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .login-wrapper {
      flex-direction: column;
      width: 90%;
    }
    
    .login-image-container, .login-box {
      width: 100%;
    }
    
    .login-image-container {
      max-height: 300px;
    }
  }